*{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 900;
text-align: center;

}
h1{
background-color: aqua;
color: brown;

}
P{
background-color: black;
color: white;
font-weight: 100;
}
.ROSSONERO{
text-align:left;
font-weight: 100;
background-color: blue;
color: white;


}
.container{
display: flex;
background-color: darkturquoise;

}